/* General Styling */

/* Shared Styling */

.clear {
	clear: both;
}

.clear:after {
	clear: both;
}

/* Header */
#site-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 48px;
	background: #fff;
	box-shadow: 0 0 24px 0 rgba(0,0,0,0.25);
}

/* Logo */
#logo {
	float: left;
	height: 100%;
	width: 164.625px;
	background-color: #ff4020;
}

/* Header Nav Bar */
#header-nav-large {
	float: left;
	width: 719px;
	height: 100%;
	background-color: purple;
}

#header-nav-large > ul {
	width: 100%;
	height: 100%;
}

#header-nav-large li {
	float: left;
	width: 9.5%;
	height: 100%;
	margin: 0 0.25%;
	background-color: green;
}

#header-nav-small {
	display: none;
	float: left;
}

#header-nav-smallest {
	display: none;
	float: left;
}

/* Header Social Links & Search */
#header-social-search {
	float: right;
	height: 100%;
	width: 174px;
	border-left: 1px solid #f3f3f3;
	border-right: 1px solid #f3f3f3;
}

#header-social-search > ul {
	width: 100%;
	height: 100%;
	background: orange;
}

#header-social-search li {
	float: left;
	width: 22.5%;
	height: 100%;
	margin: 0 1%;
	background-color: yellow; 
}

/* Featured Articles */
#featured-articles {
	border: 1px solid green;
	margin-top: 48px;
	padding: 0.25%;
	width: 100%;
	height: 730px;
	border-bottom: 1px solid #ececec;
	background-color: #c2c2c2;
}

/* Featured Article Columns */
.col-1-2 {
	float: left;
	width: 49.5%;
	height: 100%;
	margin-left: 0.25%;
	border: 1px solid black;
	background-color: #929292;
}

/* Featured Articles - Secondary */
#featured-article-2 {
	width: 100%;
	height: 49.5%;
	background-color: #525252;
}

#featured-article-3,
#featured-article-4 {
	width: 49.5%;
	height: 49.5%;
	margin-top: 0.75%;
	background-color: #727272;
}

#featured-article-3 {
	float: left;
}

#featured-article-4 {
	float: right;
}


/* Latest News */
#latest-news {
	height: 600px;
}

/* Subsection Header (used in .topic-row too) */
.subsection-header {
	height: 12.5%;
}

.subsection-header > h1,
.subsection-header > .large-link {
	color: #ff4020;
	font-family: 'Helvetica Neue', sans-serif;
}

.subsection-header > h1 {
	float: left;
	font-size: 35px;
	font-weight: 700;
	margin-top: 20px;
}

.subsection-header > h1 > .topic-desc {
	font-size: 0.45em;
	color: #999;
	font-weight: 100;
}

.subsection-header > .large-link {
	float: right;
	font-size: 16px;
	font-weight: 700;
	margin-top: 40px;
}

.subsection-header > .small-link {
	display: none;
}

.subsection-header > a:hover {
	color: #000;
}

/* Latest News - Articles */
#latest-news-articles {
	clear: both;
	height: 91%;
	width: 100%;
	background-color: #c2c2c2;
	padding: 1.5% 0;
}

#latest-news-articles > ul {
	width: 100%;
	height: 100%;
}

#latest-news-articles > ul > li {
	float: left;
	width: 16%;
	height: 47.5%;
	margin: 0.5% 0;
	margin-left: 0.55%;
	background-color: green;
}

/* Articles by Topic */
#topic-container {
	width: 100%;
	margin-top: 5px;
	background-color: #fcfcfc;
}

.topic-row {
	border-top: 1px solid #ececec;
	height: 490px;
	width: 100%;
	margin: 0 auto;
}

.sub-container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.topic-article-list {
	display: inline-block;
	width: 100%;
	height: 70%;
	border: 1px solid black;
}

.topic-article-list > li {
	float: left;
	width: 16%;
	height: 95%;
	margin: 0.5% 0;
	margin-left: 0.55%;
	background-color: blue;
}

/* Footer */
footer {
	width: 100%;
	height: 328px;
	margin: 0 auto;
	position: relative;
	background: #000;
	border-bottom: 4px solid #ff4020;
}

.row-3-4 {
	width: 100%;
	height: 75%;
}

.row-1-4 {
	width: 100%;
	height: 24.9%;
	border-top: 1px solid rgba(255,255,255,0.25);
}

.footer-contents {
	max-width: 1150px;
	margin: 0 auto;
	height: 100%;
	background-color: gray;
}

/* Media Queries - default styling for screen widths greater than 1680px */

/* Max-Width: 1680px */
@media screen and (max-width: 1680px) {
	.sixth-topic-article {
		display: none;
	}

	.topic-article-list > li {
		width: 19.25%
	}
}

/* Max-Width: 1366px */
@media screen and (max-width: 1366px) {
	.fifth-topic-article {
		display: none;
	}

	.topic-article-list > li {
		width: 24.25%;
	}
}

/* Max-Width: 1160px */
@media screen and (max-width: 1160px) {
	#latest-11,
	#latest-12 {
		display: none;
	}

	#latest-news-articles ul > li {
		width: 19.25%
	}
}

/* Max-Width: 1075px */
@media screen and (max-width: 1024px) {
	#header-nav-large {
		display: none;
	}

	#header-nav-small {
		display: inline-block;
		float: left;
		height: 100%;
		width: 75px;
		background-color: green
	}
}

/* Max-Width: 1024px */
@media screen and (max-width: 1024px) {
	.fourth-topic-article {
		display: none;
	}

	.topic-article-list > li {
		width: 32.5%;
	}

	#featured-article-1 {
		display: block;
		width: 97.5%;
		margin: 0 1.25%;
		height: 100%;
	}

	.col-1-2 {
		display: block;
		height: 50%;
		width: 100%;
	}

	#featured-article-2,
	#featured-article-3,
	#featured-article-4 {
		float: left;
		width: 31.75%;
		margin-left: 1.15%;
		height: 100%;
	}

	#featured-article-3,
	#featured-article-4 {
		margin-top: 0;
	}

}

/* Max-Width: 930px */
@media screen and (max-width: 930px) {
	#latest-11,
	#latest-12 {
		display: inline-block;
	}

	#latest-news-articles ul > li {
		width: 23.5%;
		height: 30%;
		margin-left: 1.2%;
	}

	#latest-news {
		height: 775px;
	}
}

/* Max-Width: 768px */
@media screen and (max-width: 768px) {
	#featured-article-1 {
		height: 100%;
		width: 100%;
		display: block;
		background-color: blue;
		margin-left: -1px;
	}

	#featured-article-2,
	#featured-article-3,
	#featured-article-4 {
		display: block;
		width: 100%;
		height: 50%;
		background-color: blue;
		margin: 5px 0;
	}

	.col-1-2:first-child {
		height: 300px
	}

	.col-1-2:last-child {
		height: 700px;
	}

	#featured-articles {
		height: 1400px;
	}

	#header-nav-small {
		display: none;
	}

	#header-nav-smallest {
		display: inline-block;
		float: left;
		height: 100%;
		width: 40px;
		background-color: pink
	}

	/* Footer elements stack as blocks */
}

/* Max-Width: 703px */
@media screen and (max-width: 703px) {

	#latest-news-articles ul > li {
		width: 31.5%;
		height: 22.5%;
		margin: 1.5% 0 1.5% 1.2%;
		margin-left: 1.2%;
	}

	#latest-news {
		height: 1034px;
	}

	.subsection-header {
		background-color: #ff4020;
		height: 35px;
	  border: 1px solid #fff;
	}

	.subsection-header > h1 {
		font-size: 16px;
		color: #fff;
		margin: 10px 0 10px 10px;
	}

	.subsection-header > .large-link {
		display: none;
	}

	.subsection-header > .small-link {
		display: inline-block;
		float: right;
		color: #fff;
		font-size: 30px;
		font-weight: bold;
	}

	.topic-desc {
		display: none;
	}

	.sub-container {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	.topic-article-list > .sixth-topic-article {
		display: none;
	}


	.topic-article-list > .first-topic-article {
		height: 80%;
	}

	.topic-article-list > li {
		display: block;
		width: 100%;
		height: 12.5%;
		border-bottom: #ececec;
	}

	.topic-row {
		height: 785px;
	}
}

/* Max-Width: 639px */
@media screen and (max-width: 639px) {
	#latest-news-articles ul > li {
		width: 47.5%;
		height: 16%;
		margin: 0.75% 0 0.75% 1.2%;
		margin-left: 1.2%;
	}

	#latest-news {
		height: 1400px;
		margin-bottom: -75px;
	}	
}